/* Track.module.css */
.track {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
  }
  
  .trackInformation {
    display: flex;
    flex-direction: column;
  }
  
  .trackAction {
    width: 30px;
    padding: 10px;
    font-size: 12px;
    border: none;
    border-radius: 20px;
    background-color: #1db954;
    color: white;
    cursor: pointer;
  }
  
  .trackAction:hover {
    background-color: #1ed760;
  }
  
  .trackAction.remove {
    background-color: #e0245e;
  }
  
  .trackAction.remove:hover {
    background-color: #c81e4e;
  }
  